/* Base CSS */
/* font-family: 'Poppins', sans-serif;
font-family: 'Nunito', sans-serif; */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus, input:focus, textarea:focus, button:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
body{
	font-family: 'Poppins', sans-serif;
	font-size:14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #2A2D2F;
}
a{transition: all 0.8s ease 0s;}
a:hover { text-decoration: none }
.header-area{
background-color: rgba(74, 144, 226, 1);
background-image: url("img/header_bg.png");
background-position: left top;
background-repeat: no-repeat;
}
.inline-btn {
  font-size: 15px;
}
.navbar-brand {
  margin-right: 200px;
}
.navbar-nav .nav-link {
  color: #fff;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
.nav-item {
  margin-right: 40px;
}
.navbar {
  margin: 40px 0;
}
.header-area a {
border-radius: 35px;
display: inline-block;
padding: 10px;
text-align: center;
color:#fff;
}
.inline-btn, .boxed-btn {
  text-transform: uppercase;
}
.boxed-btn {
background: #064ea3 none repeat scroll 0 0;
border-radius: 35px;
display: inline-block;
padding: 10px;
text-align: center;
width: 116px;
}
.hire_loacal_designer p {
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}
.inline-btn {
  margin-right: 10px;
}

.header-text h1 {
  text-transform: uppercase;
  font-size: 45px;
}
.header-text h1 span {
  color: #064EA3;
}
.header-text {
color: #fff;
padding: 55px 0;
}
.hire_loacal_designer {
  padding-bottom: 49px;
  padding-top: 65px;
}
.header-text form label {
color: #333333;
float: left;
font-size: 25px;
font-weight: 400;
margin-bottom: 20px;
text-align: left;
}
.form_post_job form {
  width: 427px;
}
.footer-widgets p {
  color: #757575;
  font-size: 16px;
  font-weight: 300;
}
#map{
  height:700px;
  width:100%;
}

.gmap_box_img {
  float: left;
  margin-right: 15px;
}
.gmap_box_img > h3 {
  color: #064ea3;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.gmap_box_img > p {
  color: #121111;
  font-size: 15px;
}
.gmap_box_img > a {
  background: #064ea3 none repeat scroll 0 0;
  border-radius: 16px;
  color: #fff;
  display: block;
  font-size: 12px;
  font-weight: 500;
  height: 31px;
  padding: 7px;
  text-align: center;
  text-transform: uppercase;
  width: 100px;
}







/*google map*/
.google-map {
	height: 700px;
}

.header-text form {
  background: #fff;
  color: #333;
  text-align: center;
  border-bottom: 10px solid #064EA3;
}
.header-text form label {
font-size: 25px;
font-weight: 300;
margin-bottom: 20px;
}
.header-text form {
border-radius: 5px;
box-shadow: 1px 3px 3px #231f20;
padding: 50px 0;
position: absolute;
z-index: 1;
}
.header-text .form-group {
margin-bottom: 50px;
padding: 0 20px;
}
.header-text input[type=submit] {
background: #064ea3 none repeat scroll 0 0;
border: 0 none;
border-radius: 35px;
color: #fff;
cursor: pointer;
display: inline-block;
font-size: 20px;
font-weight: 600;
height: 60px;
padding: 15px;
text-align: center;
text-transform: uppercase;
width: 220px;
}

/*footer*/

.footer-area {
  background: #EAEAEA;
  padding: 100px 0;
}
.footer-widgets img, .footer-widgets h3 {
  margin-bottom: 30px;
}
.footer-widgets h3 {
color: #3e3d3d;
font-size: 20px;
font-weight: 400;
}
.footer-widgets ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
.footer-widgets ul li {
  line-height: 34px;
}
.footer-widgets ul li a {
color: #757575;
font-weight: 300;
margin-bottom: 0;
}
.footer-widgets a {
  display: block;
  margin-bottom: 10px;
}
.footer-widgets .fa {
  margin-right: 4px;
}
a.first_footer_top_menu:hover {
	background:#064EA3;
}

/* modal css */
.modal-dialog.modal_cust_content {
 max-width: 750px;
}
.modal-content {
  border-top: 8px solid #064ea3;
}
.modal_title_area {
  padding-top: 65px;
  text-align: center;
}
.border_poup {
  background: #b7b7b7 none repeat scroll 0 0;
  height: 1px;
  margin: 50px auto;
  width: 230px;
}
.form_popup {
  text-align: center;
}
.form_popup_main input {
cursor: pointer;
display: block;
margin: 0 auto;
}
.form_popup_main {
  margin-bottom: 40px;
  margin-top: 23px;
}
.form_popup_main input[type="text"]{
background: #e6e6e6 none repeat scroll 0 0;
border: 0 none;
color: #201017;
font-size: 15px;
height: 34px;
margin-bottom: 8px;
padding: 0 10px;
width: 500px;
}
.form_popup_main textarea {
background: #e6e6e6 none repeat scroll 0 0;
border: 0 none;
color: #201017;
font-size: 15px;
margin-bottom: 8px;
min-height: 92px;
padding: 0 10px;
width: 500px;
}
.modal_title_area h2 {
  color: #333333;
  font-size: 25px;
  margin-bottom: 20px;
}
.modal_title_area > p {
  color: #201017;
  font-size: 15px;
  line-height: 25px;
}
.modal_title_area p:last-child{
	margin-bottom:0;
}
.form_popup_heading h4 {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 20px;
}
.popup_submit_button {
  background: #06a350 none repeat scroll 0 0;
  border: 0 none;
  border-radius: 15px;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  height: 31px;
  margin-top: 30px !important;
  text-transform: uppercase;
  width: 91px;
}
#dropdownMenuButton .btn {
  -moz-user-select: none;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  display: inline-block;
  float: left;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 45px;
  padding: 0.375rem 0.75rem;
  text-align: left;
  transition: background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}
.btn-secondary {
background-color: inherit;
border-color: #e1e1e1;
color: #9c9c9c;
text-align: left;
width: 100%;
}
.dropdown-toggle{
	position:relative;
}
.dropdown-toggle::after {
border-color: -moz-use-text-color transparent;
border-style: solid solid none;
border-width: 0.3em 0.3em 0;
content: "";
display: inline-block;
height: 0;
margin-left: inherit;
position: absolute;
right: 13px;
text-align: right !important;
top: 15px;
width: 0;
}
.header-area a {
  border-radius: 35px;
  color: #9c9c9c;
  display: inline-block;
  padding: 10px;
  text-align: left;
}
.header-area a {
  border-radius: 0;
  color: #9c9c9c;
  display: inline-block;
  padding: 10px;
  text-align: left;
}
.btn-secondary:hover {
  background-color: inherit;
  border-color: #e1e1e1;
  color: #9c9c9c;
}
.btn-secondary.active:not([disabled]):not(.disabled), .btn-secondary:active:not([disabled]):not(.disabled), .show > .btn-secondary.dropdown-toggle {
  background-color: inherit;
  border-color: #e1e1e1;
  box-shadow: inherit;
  color: #9c9c9c;
}
.menu_off_mb_any a {
  border-radius: 20px;
  color: #fff;
  text-align: center;
}